header {
  background-color: var(--background-color-three);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

nav {
  display: none;
}

.menu__hamburguer {
  margin-top: 10px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-color-three);
}

.lista__links {
  list-style: none;
  padding: 0.5em;
}

.lista__links li {
  margin: 16px 0;
}

.lista__links li a {
  color: var(--text-color-two);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .menu__hamburguer {
    margin-top: 0;
    width: 467px;
  }
}
.menu__hamburguer label {
  display: none;
}

.menu__hamburguer nav {
  display: block;
}

.lista__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  .lista__links li {
    margin: 0;
  }
}
